body {
    background-color: rgb(255, 197, 135);
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    padding: 0px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: cornsilk;
}

.specialtyPizza {
    text-align: center;
    width: 200px;
    height: 120px;
}

button {
    margin: 10px;
}

.hidden {
    display: None;
}

.arrow {
    margin: 0px 1em;
    display: inline-block;
    border-left: 1em solid black;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
}

h2 {
    display: inline-block;
}

.header:hover,
.section:focus-within .header {
    font-size: 1.1em;
}

.section:focus-within .arrow {
    transform: rotate(90deg);
    transition: all 1s;
}

.section:focus-within .hidden {
    display: inline-block;
}

.pizza {
    height: 200px;
    width: 200px;
    background-color: rgb(246, 231, 101);
    border-radius: 50%;
    border: 15px solid rgb(148, 89, 43);
}

.pizza .pepperoni.outer {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 20px dotted rgb(155, 34, 34);
    top: 10%;
    left: 10%;
}

.pizza .pepperoni.inner {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 20px dotted rgb(155, 34, 34);
    top: 12.5%;
    left: 12.5%;
}

.pizza:hover {
    transform: rotate(360deg);
    transition: all 10s;
}

#left {
    position: absolute;
    left: 2%;
}

#right {
    position: absolute;
    right: 2%;
}