body {
    background-color: rgb(255, 197, 135);
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    background-color: cornsilk;
}